h1{
    padding-bottom:50px;
}

#divtemp{
    padding-bottom: 75px;
}

.divs{
    text-align: center;
    box-shadow: 3px 5px;
    padding: 10px;
    border: 1px solid;
    background-color: #fefbd8;
}

#divtemp1{
    padding-bottom: 50px;
}

.divm{
    text-align: center;
    box-shadow: 3px 5px;
    padding: 10px;
    border: 1px solid;
    background-color: #fefbd8;

}

#divtemp2{
    padding-bottom: 50px;
}

.divf{
    text-align: center;
    box-shadow: 3px 5px;
    padding: 10px;
    border: 1px solid;
    background-color: #fefbd8;
}

.divg{
    text-align: center;
    box-shadow: 3px 5px;
    padding: 10px;
    border: 1px solid;
    background-color: #fefbd8;
}

#divtemp3{
    padding-bottom: 50px;
}

#divtemp4{
    padding-bottom: 40px;
}

.divwhole{
    text-align: center;
    box-shadow: 7.5px 15px;
    padding: 10px;
    border: 1px solid;
    background-color: #ffb3bf;
}

#divbutt{
    padding-top: 45px;
}

.button {
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000000;
    background-color: #fefbd8;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #000000;

  }
  .button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  
}

